streamlit==1.37.0
streamlit_chat
python-dotenv
pymupdf
pypdf
python-multipart
pydantic
pinecone-notebooks
pinecone-client[grpc]
async-timeout
typing-extensions
langchain
langchain-openai
langchain-community
langchain-pinecone
langchain_mistralai
langchain_anthropic
langchain_ollama
pyyaml